/* 
 
  DEBUG (PESTICIDE)
  Docs: http://tachyons.io/docs/debug/

  This is a partial you have to manually include in your
  build file. It places a different colored outline on 
  each element which can help you debug layout issues.
  There is also a handy chrome extension that can 
  be found at http://pesticide.io

*/

body {        outline: 1px solid  #2980B9; }
article {     outline: 1px solid  #3498DB; }
nav {         outline: 1px solid  #0088C3; }
aside {       outline: 1px solid  #33A0CE; }
section {     outline: 1px solid  #66B8DA; }
header {      outline: 1px solid  #99CFE7; }
footer {      outline: 1px solid  #CCE7F3; }
h1 {          outline: 1px solid  #162544; }
h2 {          outline: 1px solid  #314E6E; }
h3 {          outline: 1px solid  #3E5E85; }
h4 {          outline: 1px solid  #449BAF; }
h5 {          outline: 1px solid  #C7D1CB; }
h6 {          outline: 1px solid  #4371D0; }
main {        outline: 1px solid  #2F4F90; }
address {     outline: 1px solid  #1A2C51; }
div {         outline: 1px solid  #036CDB; }


p {           outline: 1px solid  #AC050B; }
hr {          outline: 1px solid  #FF063F; }
pre {         outline: 1px solid  #850440; }
blockquote {  outline: 1px solid  #F1B8E7; }
ol {          outline: 1px solid  #FF050C; }
ul {          outline: 1px solid  #D90416; }
li {          outline: 1px solid  #D90416; }
dl {          outline: 1px solid  #FD3427; }
dt {          outline: 1px solid  #FF0043; }
dd {          outline: 1px solid  #E80174; }
figure {      outline: 1px solid  #FF00BB; }
figcaption {  outline: 1px solid  #BF0032; }



table {       outline: 1px solid  #00CC99; }
caption {     outline: 1px solid  #37FFC4; }
thead {       outline: 1px solid  #98DACA; }
tbody {       outline: 1px solid  #64A7A0; }
tfoot {       outline: 1px solid  #22746B; }
tr {          outline: 1px solid  #86C0B2; }
th {          outline: 1px solid  #A1E7D6; }
td {          outline: 1px solid  #3F5A54; }
col {         outline: 1px solid  #6C9A8F; }
colgroup {    outline: 1px solid  #6C9A9D; }


button {      outline: 1px solid  #DA8301; }
datalist {    outline: 1px solid  #C06000; }
fieldset {    outline: 1px solid  #D95100; }
form {        outline: 1px solid  #D23600; }
input {       outline: 1px solid  #FCA600; }
keygen {      outline: 1px solid  #B31E00; }
label {       outline: 1px solid  #EE8900; }
legend {      outline: 1px solid  #DE6D00; }
meter {       outline: 1px solid  #E8630C; }
optgroup {    outline: 1px solid  #B33600; }
option {      outline: 1px solid  #FF8A00; }
output {      outline: 1px solid  #FF9619; }
progress {    outline: 1px solid  #E57C00; }
select {      outline: 1px solid  #E26E0F; }
textarea {    outline: 1px solid  #CC5400; }



details {     outline: 1px solid  #33848F; }
summary {     outline: 1px solid  #60A1A6; }
command {     outline: 1px solid  #438DA1; }
menu {        outline: 1px solid  #449DA6; }



del {         outline: 1px solid  #BF0000; }
ins {         outline: 1px solid  #400000; }



img     {     outline: 1px solid #22746B; }
iframe  {     outline: 1px solid #64A7A0; }
embed   {     outline: 1px solid #98DACA; }
object  {     outline: 1px solid #00CC99; }
param   {     outline: 1px solid #37FFC4; }
video   {     outline: 1px solid #6EE866; }
audio   {     outline: 1px solid #027353; }
source  {     outline: 1px solid #012426; }
canvas  {     outline: 1px solid #A2F570; }
track   {     outline: 1px solid #59A600; }
map     {     outline: 1px solid #7BE500; }
area    {     outline: 1px solid #305900; }



a {           outline: 1px solid #FF62AB; }
em {          outline: 1px solid #800B41; }
strong {      outline: 1px solid #FF1583; }
i {           outline: 1px solid #803156; }
b {           outline: 1px solid #CC1169; }
u {           outline: 1px solid #FF0430; }
s {           outline: 1px solid #F805E3; }
small {       outline: 1px solid #D107B2; }
abbr {        outline: 1px solid #4A0263; }
q {           outline: 1px solid #240018; }
cite {        outline: 1px solid #64003C; }
dfn {         outline: 1px solid #B4005A; }
sub {         outline: 1px solid #DBA0C8; }
sup {         outline: 1px solid #CC0256; }
time {        outline: 1px solid #D6606D; }
code {        outline: 1px solid #E04251; }
kbd {         outline: 1px solid #5E001F; }
samp {        outline: 1px solid #9C0033; }
var {         outline: 1px solid #D90047; }
mark {        outline: 1px solid #FF0053; }
bdi {         outline: 1px solid #BF3668; }
bdo {         outline: 1px solid #6F1400; }
ruby {        outline: 1px solid #FF7B93; }
rt {          outline: 1px solid #FF2F54; }
rp {          outline: 1px solid #803E49; }
span {        outline: 1px solid #CC2643; }
br {          outline: 1px solid #DB687D; }
wbr {         outline: 1px solid #DB175B; }

